<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h1><%= t("training.training") %></h1>
      </div>
      <div class="col-sm-12" style="margin-top: 20px">
        <%= link_to new_holiday_path, class: "btn btn-primary" do %>
          <i class="fa fa-plus"> <%= t("boby.create") %></i>
        <% end %>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th>Tên</th>
            <% if current_user&.admin? %>
              <th class="text-right">thao tác</th>
            <%end%>
          </tr>
        </thead>
        <%= render @holidays%>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
<% if Holiday.count > 10 %>
  <div style="width: 30%; margin: auto !important;">
    <%== pagy_bootstrap_nav(@pagy) %> 
  </div>
<% end %>
