<tbody>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= t("user.show_user_type.#{user.user_type}") %></td>
    <td>
      <% if current_user.admin? && user.staff? %>
        <div id="status_form">
          <% if user.status == 0 %>
            <button type="button" class="a btn btn-primary btn-sm" data-url="<%= ajax_update_users_path %>" value="<%= user.id %>">Hoạt động</button>
          <% else %>
            <button type="button" class="a btn btn-primary btn-sm" data-url="<%= ajax_update_users_path %>" value="<%= user.id %>"> Khóa</button>
          <% end %>
        </div>
      <% else %>
        <%= Constant::STATUS[user.status] %>
      <% end %>
    </td>
    <td class="project-actions text-right">
      <% if current_user&.admin? %>
        <%= link_to user, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_user_path(user), class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to user, class: "btn btn-primary btn-sm", method: :delete, data: { confirm: t("boby.are_you_sure?") } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% elsif current_user.id == user.id %>
        <%= link_to user, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_user_path(user), class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% else %>
        <%= link_to user, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-eye"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
</tbody>
