<tbody>
    <tr class="tr-shadow">
        <td>
            <%= link_to user.id, user %>
        </td>
        <td><%= link_to user.name, user %></td>
        <td>
            <%= link_to user.email, user %>
        </td>
        <td class="desc"><%= link_to user.user_type, user %></td>
        <td>
            <span class="status--process"><%= link_to Constant::STATUS[user.status], user %></span>
        </td>
        <% if current_user&.admin? %>
          <td>
              <div class="table-data-feature">
                  <button class="item" data-toggle="tooltip" data-placement="top" title="show">
                      <%= link_to '<i class="fa fa-eye"></i>'.html_safe, user %>
                  </button>
                  <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                      <%= link_to '<i class="zmdi zmdi-edit"></i>'.html_safe, edit_user_path(user) %>
                  </button>
                  <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                      <%= link_to '<i class="zmdi zmdi-delete"></i>'.html_safe, user, method: :delete, data: { confirm: "bạn chắc chứ?" } %>
                  </button>
              </div>
          </td>
        <% end %>
    </tr>
    <tr class="spacer"></tr>
</tbody>
