<tbody>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.user_type %></td>
    <td><%= Constant::STATUS[user.status] %></td>
    <td class="project-actions text-right">
      <% if current_user&.admin? %>
        <%= link_to user, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_user_path(user), class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to user, class: "btn btn-primary btn-sm", method: :delete, data: { confirm: t("health_festival.are_you_sure") } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% elsif current_user.id == user.id %>
        <%= link_to user, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_user_path(user), class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      <% else %>
        <%= link_to user, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-eye"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
</tbody>
