<div class="col-md-10 m-auto">  
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= t("user.edit_user") %></h1>
        </div>
      </div>
    </div>
  </section>
  <%= form_for(@user) do |f| %>
    <section class="content">
      <%= render "devise/shared/error_messages", resource: @user%>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-secondary">
            <div class="card-header">
              <h3 class="card-title"><%= t("member.member") %></h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label><%= t("user.cover_image") %>:</label>
                  <span class="image">
                    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
                  </span>
              </div>
              <div class="form-group">
                <label><%= t("user.user_name") %></label>
                <%= f.text_field :name, class: "form-control", placeholder:"Username", autofocus: true, autocomplete: "name" %>
              </div>
              <div class="form-group">
                <label>Email</label>
                <%= f.email_field :email, class: "form-control", placeholder:"Email" %>
              </div>
              <% if current_user.admin? %>
                <div class="form-group">
                  <label><%= t("user.user_type") %></label>
                  <%= f.select :user_type, options_for_select([["admin", "admin"], ["staff", "staff"]], f.object.user_type),{}, class:"form-control"%>
                </div>
                <div class="form-group">
                  <label><%= t("user.status") %></label>
                  <%= f.select :status,  Constant::STATUS.invert, class:"form-control"%>
                </div>
              <% end %>
                <div class="form-group">
                  <label><%= t("user.main_contact") %></label>
                  <%= f.text_field :notes, class: "form-control", placeholder:"Liên lạc chính" %>
                </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= link_to t("boby.back"), members_path, class: "btn btn-secondary" %>
          <%= f.submit t("boby.submit"), class: "btn btn-success float-right" %>
        </div>
      </div>
    </section>
  <% end %>
</div>
