<!-- Profile widget -->
<div class="bg-white shadow rounded overflow-hidden">
  <div class="px-4 pt-0 pb-4 bg-dark">
    <div class="media align-items-end profile-header">
      <div class="profile mr-3" style="width: 20%">
        <div class="rounded mb-2 img-thumbnail " style="width: 100%">
          <%= image_tag @user.image if @user.image.attached? %>
        </div>
        <% if current_user.admin? %>
          <div style="display: flex">
            <%= link_to t("member.edit_member"), edit_user_path(@user), class: "btn btn-dark btn-sm width50" %>
            <%= link_to t("member.delete"), @user, method: :delete, data: { confirm: "bạn chắc chứ?" }, class:"btn btn-dark btn-sm width50" %>
          </div>
        <% elsif @user.id == current_user.id %>
          <%= link_to t("member.edit_member"), edit_user_path(@user), class: "btn btn-dark btn-sm w-100" %>
        <% else %>
        <% end %>
      </div>
      <div class="media-body mb-5 text-white">
        <h4 class="mt-0 mb-0"><%= @user.name %></h4>
        <p class="small mb-4"> <%= @user.email %></p>
      </div>
    </div>
  </div>
  <div class="bg-light p-4 d-flex justify-content-end text-center">
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <h5 class="font-weight-bold mb-0 d-block">241</h5><small class="text-muted"> <i class="fa fa-picture-o mr-1"></i>Photos</small>
      </li>
      <li class="list-inline-item">
        <h5 class="font-weight-bold mb-0 d-block">84K</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Followers</small>
      </li>
    </ul>
  </div>
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"> <%= t("user.user_name") %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= @user.name %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= @user.email %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t("user.user_type") %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= t("user.show_user_type.#{@user.user_type}") %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t("user.status") %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= Constant::STATUS[@user.status] %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0"><%= t("user.main_contact") %></h6>
          </div>
          <div class="col-sm-9 text-secondary">
            <%= @user.notes %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- End profile widget -->
