<div class="main-content">
  <div class="image">
    <%= image_tag @user.image if @user.image.attached? %>
  </div>
  <h2>email: <%= @user.email %></h2>
  <h2>name: <%= @user.name %></h2>
  <h2>user type: <%= @user.user_type %></h2>
  <h2>status: <%= @user.status %></h2>
  
  <button id="sendMessageButton" type="submit"><%= link_to 'edit'.html_safe, edit_user_path(@user) %></button>
  <button id="sendMessageButton" type="submit"><%= link_to 'delete'.html_safe, @user, method: :delete, data: { confirm: "bạn chắc chứ?" } %></button> 
</div>