<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <body class="hold-transition login-page">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <h3><b><%= t("log_in.forgot_your_password") %></b></h3>
        </div>
        <div class="card-body">
          <p class="login-box-msg"><%= t("log_in.content_forgot_your_password") %></p>
            <div class="input-group mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block"><%= t("log_in.request_new_password") %></button>
              </div>
              <!-- /.col -->
            </div>
          <p class="mt-3 mb-1">
            <%= link_to t("log_in.sign_in"), new_user_session_path %>
          </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </body>
<% end %>
