<div class="col-md-10 m-auto">  
  <%= form_for @request do |f| %>
    <% f.object.approver_ids = f.object.member_requests.approver.pluck(:member_id)
      f.object.follower_ids = f.object.member_requests.follower.pluck(:member_id) %>
    <section class="content">
      <%= render "devise/shared/error_messages", resource: @request %>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-secondary">
            <div class="card-body">
              <% if @request.new_record? || current_user.member&.id == @request.member_id %>
                <div class="form-group">
                  <label><%= t("holiday.name") %></label>
                  <%= f.select(:holiday_id, Holiday.all.collect {|u| [ u.name, u.id ] }, {include_blank: t("request.choose_the_holiday")}) %>
                </div>
                <div class="form-group">
                  <label><%= t("request.accepter") %></label>
                  <%= f.select(:approver_ids, Member.all.collect {|m| [m.name, m.id]}.excluding([[current_user.member.name.to_s, current_user.member.id]]), {}, id: "event_user_ids", :multiple => true ) %>
                </div>
                <div class="form-group">
                  <label><%= t("request.followers") %></label>
                  <%= f.select(:follower_ids, Member.all.collect {|m| [m.name, m.id]}.excluding([[current_user.member.name.to_s, current_user.member.id]]), {}, id: "follower_ids", :multiple => true ) %>
                </div>
                <div class="form-group">
                  <label><%= t("request.content") %></label>
                  <%= f.text_area :content, rows: 10, class: "form-control" %>
                </div>
                <div class="form-nested">
                  <h2 style="text-align: center; padding:40px"><%= t("request.break_time") %></h2>
                    <%= f.fields_for :break_times do |break_time| %>
                      <%= render "break_time_fields", f: break_time %>
                    <% end %>
                    <div class="links add_course_benefit">
                      <%= link_to_add_association t("request.add_break_time"), f, :break_times %>
                    </div>
                </div>
              <% else %>
                <div class="form-group">
                  <label><%= t("request.comment") %></label>
                  <%= f.text_field :comment, class: "form-control" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= link_to t("boby.back"), requests_path, class: "btn btn-secondary" %>
          <% if @request.new_record? %>
            <%= f.submit "submit", name: "request[button_draft]", value: t("request.submit"), class: "btn btn-success float-right mr-3" %>
            <%= f.submit "draft", name: "request[button_draft]", value: t("request.draft_submit"), class: "btn btn-success float-right mr-3" %>
          <% else %>
            <%= f.submit "update_reject", name: "request[button_draft]", value: t("request.reject"), class: "btn btn-success float-right mr-3" %>
          <% end %>
        </div>
      </div>
    </section>
  <% end %>
  <script>
    $( "#event_user_ids" ).select2();
    $( "#follower_ids" ).select2();
  </script>
</div>
