<tbody>
  <tr>
    <td><%= request.holiday.name %></td>
    <td><%= Constant::REQUEST_STATUS[request.request_status] %></td>
    <td><%= request.member.name %></td>
    <td class="project-actions text-right">
      <% if current_user.member&.id == request.member_id%>
        <%= link_to request, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_request_path(request), class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to request, class: "btn btn-primary btn-sm", method: :delete, data: { confirm: t("boby.are_you_sure?") } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% else %>
        <%= link_to request, class: "btn btn-primary btn-sm" do %>
          <i class="fas fa-eye"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
</tbody>
