<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h1><%= t("training.training") %></h1>
      </div>
      <div class="col-sm-12" style="margin-top: 20px">
        <% if current_user.staff? %>
          <%= link_to new_request_path, class: "btn btn-primary" do %>
            <i class="fa fa-plus"> <%= t("boby.create") %></i>
          <% end %>
        <% end %>
        <%= link_to requests_path(a: "send"), class: "btn btn-primary" do %>
          <i class="fa fa-plus"> Đơn đã gửi </i>
        <% end %>
        <%= link_to requests_path(a: "followed"), class: "btn btn-primary" do %>
          <i class="fa fa-plus"> Đơn theo dõi </i>
        <% end %>
        <%= link_to requests_path(a: "approved"), class: "btn btn-primary" do %>
          <i class="fa fa-plus"> Đơn được gửi </i>
        <% end %>
        <%= link_to requests_path(a: "draft"), class: "btn btn-primary" do %>
          <i class="fa fa-plus"> Đơn nháp </i>
        <% end %>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th>Loại ngày nghỉ</th>
            <th>Trạng thái đơn</th>
            <th>Người gửi</th>
            <th class="text-right">thao tác</th>
          </tr>
        </thead>
        <%= render @requests%>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
<% if @requests.count > 9 %>
  <div style="width: 30%; margin: auto !important;">
    <%== pagy_bootstrap_nav(@pagy) %> 
  </div>
<% end %>
