<div class="row m-t-30">
  <div class="table-data__tool-right" style= "padding-left: 40px; margin-bottom: 50px">
    <button class="au-btn au-btn-icon au-btn--green au-btn--small"><%= link_to '<i class="zmdi zmdi-plus"></i>Tạo đơn từ'.html_safe, new_request_path %></button>
  </div>
  <div class="table-data__tool-right" style= "padding-left: 40px; margin-bottom: 50px">
    <button class="au-btn au-btn-icon au-btn--green au-btn--small"><%= link_to '<i class="zmdi zmdi-plus"></i>đơn đã gửi'.html_safe, requests_path(a: "send") %></button>
  </div>
  <div class="table-data__tool-right" style= "padding-left: 40px; margin-bottom: 50px">
    <button class="au-btn au-btn-icon au-btn--green au-btn--small"><%= link_to '<i class="zmdi zmdi-plus"></i>đơn nháp'.html_safe, requests_path(a: "followed") %></button>
  </div>
  <div class="table-data__tool-right" style= "padding-left: 40px; margin-bottom: 50px">
    <button class="au-btn au-btn-icon au-btn--green au-btn--small"><%= link_to '<i class="zmdi zmdi-plus"></i>đơn đã duyệt'.html_safe, requests_path(a: "approved") %></button>
  </div>
  <div class="col-md-12">
    <!-- DATA TABLE-->
    <div class="table-responsive m-b-40">
      <table class="table table-borderless table-data3">
        <thead>
          <tr>
            <th>Loại ngày nghỉ</th>
            <th>Người gửi</th>
            <% if current_user&.admin? %>
              <th>thao tác</th>
            <%end%>
          </tr>
        </thead>
        <%= render @requests%>
      </table>
    </div>
      <!-- END DATA TABLE-->
  </div>
</div>
<div style="width: 30%; margin: auto !important;">
  <%== pagy_bootstrap_nav(@pagy) %>  
</div>
