<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <% if current_user.member&.id == @request.member_id %>
            <li class="breadcrumb-item"><%= link_to t("boby.edit"), edit_request_path, class: "btn btn-primary" %></a></li>
          <% end %>
          <% if @request.member_requests.where(type_recipient: 0).pluck(:member_id).include?(User.current.member&.id) %>
            <li class="breadcrumb-item"><%= link_to t("request.approved"), approved_request_path(@request), method: :put, class: "btn btn-primary" %></a></li>
          <% end %>
          <% if @request.member_requests.where(type_recipient: 0).pluck(:member_id).include?(User.current.member&.id) %>
            <li class="breadcrumb-item"><%= link_to t("request.reject"), edit_request_path(@request), class: "btn btn-primary" %></a></li>
          <% end %>
          <li class="breadcrumb-item"><%= link_to t("boby.quit"), requests_path, class: "btn btn-primary" %></a></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<% if @request.request_status == 3 %>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title"><%= t("request.comment") %>:</h3></br>
              <div class="card-header2">
                <%= @request.comment %>
              </div>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
<% end %>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col -->
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title"><%= t("request.sender") %>: <%= @request.member.name %></h3>
            <div class="card-tools">
              <p class="btn btn-tool" title="Previous"><%= t("request.mailing_time") %>: <%= @request.created_at&.strftime("%H : %M -- %d/%m/%Y ") %></p>
            </div>
          </div>
          <div class="card-header">
            <h3 class="card-title"><%= t("holiday.name") %>: <%= @request.holiday.name %></h3>
            <div class="card-tools">
              <p class="btn btn-tool" title="Previous"><%= t("request.request_status") %>: <%= Constant::REQUEST_STATUS[@request.request_status] %></p>
            </div>
          </div>
          <div class="card-header2">
            <%= t("request.accepter") %>: 
            <% @request.member_requests.approver.each do |a| %>
              <%= a.member.name %>.
            <% end %>
          </div>
          <div class="card-header2">
            <%= t("request.followers") %>: 
            <% @request.member_requests.follower.each do |a| %>
              <%= a.member.name %>.
            <% end %>
          </div>
          <!-- /.card-header -->
          <% @request.break_times.each do |break_time| %>
              <div class="card-header2">
                <%= t("request.time_off") %>: 
                <%= break_time.day&.strftime("%d/%m/%Y ") %>
                <% if break_time.start_time.present? && break_time.end_time.present? %>
                  Time: <%= break_time.start_time&.strftime("%H:%M") %> to <%= break_time.end_time&.strftime("%H:%M") %>
                <% end %>
              </div>
          <% end %>
          <div class="card-header">
            <h3 class="card-title"><%= t("request.content") %>:</h3></br>
            <div class="card-header2">
              <%= @request.content %>
            </div>
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
  <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
