<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <body class="hold-transition login-page">
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="#" class="h1"><b>Admin</b></a>
        </div>
        <div class="card-body">
          <form>
            <div class="input-group mb-3">
               <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: t("log_in.password") %>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <% if devise_mapping.rememberable? %>
                <div class="col-8">
                  <div class="icheck-primary">
                    <%= link_to t("log_in.forgot_your_password"), new_password_path(resource_name) %>
                  </div>
                </div>
               <% end %>
              <!-- /.col -->
            </div>
          </form>

          <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" class="btn btn-primary btn-block"><%= t("log_in.sign_in") %></button>
          </div>
          <!-- /.social-auth-links -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </body>
<% end %>
