<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Fontfaces CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= render "layouts/header_admin" %>
          <div class="content-wrapper">
            <% flash.each do |key, msg| %>
              <% if key == "success" %>
                <%= content_tag :div, msg, class: "alert alert-success" %>   
              <% end %>
              <% if key == "danger" %>
                <%= content_tag :div, msg, class: "alert alert-warning" %>  
              <% end %>
            <% end %>
            <%= yield %>
          </div>
        <% else %>
          <%= render "layouts/header_staff" %>
          <div class="page-content--bgf7">
            <%= yield %>
          </div>
        <% end %>
      <% else %>
        <%= yield %>
      <% end %>
      <script src="https://adminlte.io/themes/v3/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    </div>
  </body>
</html>
