<div class="col-md-10 m-auto">  
  <%= form_for(@member) do |f| %>
    <%= render "devise/shared/error_messages", resource: @member %>
    <div style= "display:flex">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"> <%= t("member.full_name") %> </h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :name, class:"form-control", placeholder:t("member.full_name"), autofocus: true, autocomplete: "name" %>
              </div>
            </div>
            <hr>
            <div class="row">
              <% if @member.new_record? %>
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t("member.employee") %></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= f.text_field :employee_code, class:"form-control", placeholder:t("member.employee") %>
                </div>
              <% else %>
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t("member.employee") %></h6>
                </div>
                <div class="col-sm-9 text-secondary p-2">
                  <%= @member.employee_code %>
                </div>
              <% end %>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.bithday") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.date_field :bithday, class:"form-control", placeholder:t("member.bithday") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.nationality") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :nationality, class:"form-control", placeholder:t("member.nationality") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.nation") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :nation, class:"form-control", placeholder:t("member.nation") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.religion") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :religion, class:"form-control", placeholder:t("member.religion") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.Gender") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.select :sex,  Constant::SEX.invert%>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.home_town") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :home_town, class:"form-control", placeholder:t("member.home_town") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.permanent_address") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :permanent_address, class:"form-control", placeholder:t("member.permanent_address") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.current_address") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :current_address, class:"form-control", placeholder:t("member.current_address") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.marriage") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :marriage, class:"form-control", placeholder:t("member.marriage") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <% if @member.new_record? %>
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t("member.work_status") %></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <%= f.select :work_status,  Constant::WORK_STATUS.invert %>
                </div>
              <% else %>
                <div class="col-sm-3">
                  <h6 class="mb-0"><%= t("member.employee") %></h6>
                </div>
                <div class="col-sm-9 text-secondary p-2">
                  <%= Constant::WORK_STATUS[@member.work_status] %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.identity_card") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :identity_card, class:"form-control", placeholder:t("member.identity_card") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.date_issued") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.date_field :date_issued, class:"form-control", placeholder:t("member.date_issued") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.issued_at") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :issued_at, class:"form-control", placeholder:t("member.issued_at") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.seniority") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :seniority, class:"form-control", placeholder:t("member.seniority") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.presenter") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :presenter, class:"form-control", placeholder:t("member.presenter") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.bank_account") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :bank_account, class:"form-control", placeholder:t("member.bank_account") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.bank_name") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :bank_name, class:"form-control", placeholder:t("member.bank_name") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.license_plates") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :license_plates, class:"form-control", placeholder:t("member.license_plates") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.vehicle_brand") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :vehicle_brand, class:"form-control", placeholder:t("member.vehicle_brand") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.vehicle_color") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :vehicle_color, class:"form-control", placeholder:t("member.vehicle_color") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.phone_number") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :phone_number, class:"form-control", placeholder:t("member.phone_number") %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0"><%= t("member.relatives_phone") %></h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <%= f.text_field :relatives_phone, class:"form-control", placeholder:t("member.relatives_phone") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6", style="margin: auto;">
      <%= f.submit "submit", class:"btn btn-success w-100 mb-5" %>
    </div>
  <% end %>
</div>
