<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h1><%= t("member.manage") %></h1>
      </div>
      <% if current_user.admin? %>
        <div class="col-sm-12 text-right" style="margin-top: 20px">
          <%= link_to new_member_path, class: "btn btn-primary" do %>
            <i class="fa fa-plus"> <%= t("boby.create") %></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="card ml-4 mr-4">
    <div class="card-header">
      <%= search_form_for @search, class: "form-inline" do |f| %>
        <div class="input-group rounded col-md-12 center">
          <div class="col-md-2">
            <%= f.label :name_cont, t("member.full_name"), class: " form-control-label" %>
            <%= f.text_field :name_cont, class:"form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.label :employee_code_cont, t("member.employee"), class: " form-control-label" %>
            <%= f.text_field :employee_code_cont, class:"form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.label :bithday_cont, t("member.bithday"), class: " form-control-label" %>
            <%= f.date_field :bithday_cont, class:"form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.label :work_status_eq, t("member.work_status"), class: " form-control-label" %>
            <%= f.select :work_status_eq, Constant::WORK_STATUS.invert, {include_blank: ""}, class:"form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.label :home_town_cont, t("member.home_town"), class: " form-control-label" %>
            <%= f.text_field :home_town_cont, class:"form-control" %>
          </div>
          <div class="col-md-1">
            <h3 style="height:25%"></h3>
            <%= f.submit t("boby.search"), class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="card-body p-0">
      <table class="table table-striped projects">
        <thead>
          <tr>
            <th><%= t("member.full_name") %></th>
            <th><%= t("member.employee") %></th>
            <th><%= t("member.bithday") %></th>
            <th><%= t("member.work_status") %></th>
            <th><%= t("member.home_town") %></th>
            <th class="text-right"><%= t("boby.action") %></th>
          </tr>
        </thead>
        <%= render @members %>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
<% if Member.count > 10 %>
<div style="width: 30%; margin: auto !important;">
  <%== pagy_bootstrap_nav(@pagy) %> 
</div>
<% end %>
